#!/usr/bin/env python3
[Desktop Entry]
Version = 1.0
Name = PyCalc
Exec = /home/amr/PycharmProjects/Past_Projects/PyCalc/PyCalc/__init__.py
Icon = /home/amr/PycharmProjects/Past_Projects/PyCalc/PyCalc/Assets/logo.png
Type = Application
